#------------------------------------------------------------------------------#
#                        SeaExplorer configuration file                        #
#------------------------------------------------------------------------------#
# This is the SeaExplorer configuration file.                                  #
#                                                                              #
# Parameters with ; are commented: the parameters will take the software       #
#default values (refer to manual). During fabrication or preparation,          #
#parameters can be changed by deleting the ";" and setting a value.            #
#------------------------------------------------------------------------------#

[Altimeter]
;altimeter.gain=
;altimeter.install=
;altimeter.pulse=
;altimeter.range=
;altimeter.simu.seabed=
;altimeter.type=

[Angular]
;angular.base=
;angular.coef=
;angular.hi=
;angular.hy=
;angular.lo=
;angular.surface=
;angular.zero=

[Ballast]
;ballast.coef=
;ballast.rpm.alarm=
;ballast.ev=
;ballast.hi=
;ballast.hy=
;ballast.lo=
;ballast.surface=
;ballast.zero=
;ballast.inertia.inflate=
;ballast.inertia.deflate=
;ballast.estop.overshoot=
;ballast.estop.reverse=

[Barometer]
;barometer.install=

[Battery]
;battery.coef=
;battery.zero=
;battery.type=

[Bottom landing]
;btm.altimeter=
;btm.takeoff.angular=
;btm.takeoff.linear=
;btm.timeout=

[Compass]
;compass.install=

[Cycle]
;cycle.period1=
;cycle.period2=

[Drift]
;drf.init.control=
;drf.init.error=
;drf.init.threshold=
;drf.init.timeout=
;drf.dpid.deadzone=
;drf.ppid.deadzone=
;drf.rpid.deadzone=
;drf.dtpid.deadzone=
;drf.hpid.deadzone=

[Flasher]
;flasher.install=

[GPS]
;gps.timeout.inactivity=

[Heading]
;heading.deadzone=
;heading.pid.kp=
;heading.pid.ki=
;heading.pid.kd=
;heading.pid.il=
;heading.pid.el=
;heading.pid.hi=
;heading.pid.lo=
;heading.pid.ka=
;heading.pid.lowNoise.ka=

[Inflecting]
;inflecting.control.pitch.deadzone=
;inflecting.control.pitch.pid.ka=
;inflecting.control.pitch.pid.kd=
;inflecting.control.pitch.pid.ki=
;inflecting.control.pitch.pid.kp=
;inflecting.control.pitch.pid.il=
;inflecting.control.pitch.pid.el=
;inflecting.control.pitch.pid.hi=
;inflecting.control.pitch.pid.lo=
;inflecting.control.pitch.pid.init=
;inflecting.control.pitch.pid.init.sum=
;inflecting.control.pitch.pid.lowNoise.ka=

[Iridium]
;iridium.call.tries=
;iridium.timeout.inactivity1=
;iridium.timeout.inactivity2=
;iridium.timeout.modem=
;iridium.strength.frequency=

[Linear]
;linear.coef=
;linear.hi=
;linear.hy=
;linear.lo=
;linear.surface=
;linear.zero=

[NMEA]
;com.enable=
;drp.enable=
;dst.enable=
;log.enable=

[Payload]
;pld1.install=
;pld1.loadfile=

[Pinger]
;pinger.install=

[Pitch]
;pitch.deadzone=
;pitch.pid.el=
;pitch.pid.hi=
;pitch.pid.il=
;pitch.pid.ka=
;pitch.pid.kd=
;pitch.pid.ki=
;pitch.pid.kp=
;pitch.pid.lo=
;pitch.pid.lowNoise.ka=

[Pressure]
;pressure.depth.overshoot=
;pressure.range=
;pressure.voltage.max=
;pressure.voltage.zero=

[Release]
;release.id=

[Security]
;security.ballast.limit=
;security.batteries.low=
;security.depth.limit=
;security.depth.stability.duration=
;security.depth.stability.error=
;security.no.com=
;security.vacuum.limit=

[Thruster]
;thruster.install=
;thruster.swap=
;thruster.1.esc.calib.ton=
;thruster.1.esc.calib.rot=
;thruster.1.esc.calib.min=
;thruster.1.esc.calib.max=
;thruster.2.esc.calib.ton=
;thruster.2.esc.calib.rot=
;thruster.2.esc.calib.min=
;thruster.2.esc.calib.max=
;thruster.ramp.enable=
;thruster.ramp.period=
;thruster.ramp.error=
;thruster.ramp.threshold=
;thruster.ramp.timeout=

[VerticalSpeed]
;vspeed.deadzone=
;vspeed.pid.el=
;vspeed.pid.hi=
;vspeed.pid.il=
;vspeed.pid.ka=
;vspeed.pid.kd=
;vspeed.pid.ki=
;vspeed.pid.kp=
;vspeed.pid.lo=
;vspeed.pid.lowNoise.ka=

